.field {
  &_color-picker {
    display: flex;
    flex-direction: column;
  }

  &_color-picker &__placeholder {
    position: static;
    margin-bottom: 12px;
  }

  &_color-picker &__color-list {
    display: flex;
    flex-wrap: wrap;
  }

  &_color-picker &__color-item {
    margin-right: 24px;
  }

  &_color-picker &__color-input {
    display: none;
  }

  &_color-picker &__color-input:checked + &__color-circle {
    box-shadow: 0 0 0 2px $red;
    border-color: $red;
  }
}

.color-circle {
  display: inline-block;
  @include size(19px);
  border-radius: 50%;
  transition: box-shadow 0.4s ease, border-color 0.4s ease;
  cursor: pointer;
}

[data-color="white"] {
  background-color: $white;
  border: 1px solid $dark-gray;
}

[data-color="black"] {
  background-color: $dark-black;
  border: 1px solid $dark-black;
}

[data-color="gray"] {
  background-color: $gray-lighter;
  border: 1px solid $gray-lighter;
}

[data-color="red"] {
  background-color: $red;
  border: 1px solid $red;
}

[data-color="green"] {
  background-color: $light-green;
  border: 1px solid $light-green;
}
