mixin color-picker(extraClass,list)
  - var className = extraClass !== undefined ? extraClass : "";
  .field.field_color-picker(class=className)
    span.field__placeholder Цвет
    .field__color-list
      each item in list
        .field__color-item
          input(type="radio" id=item.id name="color" value=item.type).field__color-input
          label(for=item.id data-color=item.type).field__color-circle.color-circle