@mixin size($w,$h: $w) {
  width: $w;
  height: $h;
}


@mixin bg-prop($size: cover,$repeat: no-repeat,$position: center,$image: "") {
  background-size: $size;
  background-repeat: $repeat;
  background-position: $position;
  background-image: url($image);
}


@mixin media($media) {
  @if $media == "tablet" {
      @media only screen and (max-width: 719px) { @content; }
  }
  @else if $media == "mobile" {
      @media only screen and (max-width: 450px) { @content; }
  }
}