.header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 102px;
  padding-top: 3px;
  background-color: $black;

  &__picture {
    @include media("mobile") {
      @include size(300px, 63px);
    }

    max-width: 494px;
    max-height: 104px;
    margin: 0 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
