mixin base-input(type,placeholder,extraClass,name)
  - var className = extraClass !== undefined ? extraClass : "";
  .field.js-field(class=className)
    span.field__placeholder=placeholder
    input(type=type name=name).field__input