.field {
  display: flex;
  position: relative;
  width: 100%;

  &_focus &__placeholder {
    transform: translateY(-32px);
  }

  &_focus &__input {
    border-bottom-color: $black;

    &:hover {
      border-bottom-color: $black;
    }
  }

  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 8px 10px 8px 10px;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #dadada;
    border-bottom-width: 2px;
    width: 100%;
    outline: transparent;
    transition: border-color 0.4s ease;
    cursor: pointer;

    &:hover {
      border-bottom-color: $red;
    }
  }

  &__placeholder {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    text-transform: capitalize;
    transition: transform 0.4s ease;
    will-change: transform;
  }

  &__input,
  &__placeholder {
    font-size: 14px;
    line-height: 21px;
    color: $dark-gray;
  }
}
