mixin table(list)
  .table.js-table
    .table__header
      .table__row
        .table__col Название
        .table__col Год
        .table__col Цвет
        .table__col Статус
        .table__col Цена
        .table__col
    .table__body.js-table-body
      if(list !== null)
        each item in list
          .table__row
            .table__col=item.title
            .table__col=item.year
            .table__col
              .color-circle(data-color=item.color)
            .table__col=item.status
            .table__col=item.price
            .table__col
              button.btn.btn_delete Удалить
            .table__col(class=item.descr === "" ? "table__col_empty" : "")
              span.table__col-descr=item.descr


  