.table {
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_loading {
    position: relative;
    pointer-events: none;

    &:before {
      content: "Загрузка данных";
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      padding: 10px;
      font-size: 20px;
      color: $black;
    }
  }

  &_loading &__header,
  &_loading &__body {
    filter: blur(3px);
  }

  &__header {

    @include media("tablet") {
      display: none;
    }

    border-radius: 4px 4px 0px 0px;
    background-color: $red;
  }

  &__header &__row {
    padding: 12px 7px 12px 15px;
  }

  &__header &__col {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 700;
  }

  &__body {
    @include media("tablet") {
      margin: 0 -10px;
    }
  }

  &__body &__col {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;

    &:last-child {

      @include media("tablet") {
        margin-top: 9px;
        margin-bottom: 20px;
      }

      flex-basis: 100%;
      margin-top: 4px;
      color: $dark-gray;
      font-weight: 300;
      font-size: 13px;
      line-height: 16px;
    }

    &.table__col_empty {
      height: 1px;
      width: 1px;
      margin: 0;
    }

  }

  &__col-descr {
    display: inline-block;
    max-width: 454px;
  }

  &__body &__row {

    @include media("tablet") {
      padding: 16px 20px 15px 20px;
    }

    background-color: $light-gray;
    padding: 16px 7px 15px 15px;
    border-bottom: 1px solid $gray;
    flex-wrap: wrap;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__body &__col {
    &:nth-child(3) {
      @include media("tablet") {
        padding-left: 0;
      }
      padding-left: 8px;
    }
  }

  &__col {

    @include media("tablet") {
      white-space: normal;
      word-break: break-word;
    }

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:nth-child(1) {

      @include media("tablet") {
        order: 1;
        margin-right: 0;
        max-width: 145px;
        min-width: auto;
      }

      min-width: 250px;
      max-width: 250px;
      margin-right: 5px;
    }

    &:nth-child(2) {

      @include media("tablet") {
        order: 5;
        margin-left: 0;
        margin-right: 14px;
        min-width: auto;
      }

      min-width: 44px;
      max-width: 44px;
      margin-left: auto;
      margin-right: 10px;
    }

    &:nth-child(3) {

      @include media("tablet") {
        order: 2;
        margin-right: 0;
        min-width: auto;
        margin-left: auto;
        margin-right: 15px;
      }

      min-width: 36px;
      max-width: 36px;
      margin-right: 13px;
    }

    &:nth-child(4) {

      @include media("tablet") {
        order: 6;
        margin-right: auto;
        min-width: auto;
      }

      min-width: 100px;
      max-width: 100px;
      margin-right: 15px;
    }

    &:nth-child(5) {

      @include media("tablet") {
        order: 3;
        margin-right: 0;
        min-width: auto;
      }

      min-width: 113px;
      max-width: 113px;
      margin-right: 5px;
    }

    &:nth-child(6) {

      @include media("tablet") {
        order: 7;
        margin-right: 0;
      }

      min-width: 86px;
      max-width: 86px;
    }

    &:nth-child(7) {
      @include media("tablet") {
        order: 4;
      }
    }
  }
}
