extends layouts/default
include helpers/mixins

block variables
	- const title = "Kdx"

block content
	.container(style="padding: 100px 10px;")
		ul
			li
				a(href="./main.html") Главная
				
block scripts
	script(src="js/main.js")
