include ../../components/input/input
include ../../components/select/select
include ../../components/table/table
include ../../components/color-picker/color-picker
include ./table-data.pug

.container
  main.main.js-main
    .title.main__title ¡Ay caramba!
    form.main__form-add.js-main-form
      .main__row
        +base-input("text","Название","main__input main__input_name","title")
        +base-input("number","Год","main__input","year")
        +base-input("number","Цена","main__input","price")
      +base-input("text","Описание","main__input main__input_descr","description")
      .main__row.main__row_baseline
        +color-picker("main__color-picker",[{id:"c1",type:"white"},{id:"c2",type:"black"},{id:"c3",type:"gray"},{id:"c4",type:"red"},{id:"c5",type:"green"}])
        +base-select("main__select","Статус",[{value: "in_stock", title: "В наличии"},{value: "pednding", title: "Ожидается"},{value: "out_of_stock", title: "Нет в наличии"}], "status")
        button(type="button").btn.btn_show-more.main__send.js-main-btn-send отправить
  .main__table
    +table(tableData)

