.main {
  &__title {
    
    @include media("mobile") {
      margin: 30px 0 40px;  
    }

    margin: 55px 0 60px;
    text-align: center;
  }

  &__row {

    @include media("mobile") {
      flex-wrap: wrap;
      margin-bottom: 35px;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    &_baseline {
      align-items: baseline;
    }
  }

  &__input {

    @include media("mobile") {
      flex-basis: calc(100% / 2 - 10px);    
    }

    flex-basis: calc(100% / 3 - 13px);
    
    &_name {
      @include media("mobile") {
        flex-basis: 100%;
        margin-bottom: 35px;
      }
    }

    &_descr {

      @include media("mobile") {
        margin-bottom: 35px;
      }

      margin-bottom: 32px;
    }
  }

  &__color-picker, &__select, &__send {
    
    @include media("mobile") {
      flex-basis: calc(100% / 2 - 10px);    
    }

    flex-basis: calc(100% / 3 - 13px);
  }

  &__color-picker {

    @include media("mobile") {
      flex-basis: 100%;
      margin-bottom: 35px;
    }

    position: relative;
    top: -4px;
  }

  &__form-add {

    @include media("tablet") {
      margin-bottom: 60px;
    }

    margin-bottom: 134px;
  }
}