-
  var tableData = [
     {
       title: "1.6 MT Ambiente 85 л.с. МКПП",
       year: "2020",
       color: "black",
       status: "Ожидается",
       price: "1 689 000 руб.",
       descr: "+ доп. опция «Радио-навигационная система Amundasen 2DIN, CD, MP3"
     },
     {
       title: "1.6 MT Ambiente Plus 105 л.с. МКПП",
       year: "2012",
       color: "white",
       status: "Ожидается",
       price: "1 689 000 руб.",
       descr: ""
     },
     {
      title: "1.6 PowerShift Trend Sport 105 л.с. А...",
      year: "2012",
      color: "gray",
      status: "Ожидается",
      price: "1 689 000 руб.",
      descr: ""
     },
     {
      title: "2.0 MT Trend Sport 150 л.с. МКПП",
      year: "2012",
      color: "red",
      status: "Ожидается",
      price: "1 689 000 руб.",
      descr: ""
     },
     {
      title: "2.0 PowerShift Trend Sport 150 л.с. А...",
      year: "2012",
      color: "green",
      status: "Ожидается",
      price: "1 689 000 руб.",
      descr: "+ доп. опция «Радио-навигационная система Amundasen 2DIN, CD, MP3"
     },
     
   ]