.select {
  position: relative;
  width: 100%;

  &_open &__list {
    display: block;
  }

  &_open &__title {
    border-bottom-color: $black;

    &:hover {
      border-bottom-color: $black;
    }

    &:after {
      transform: rotate(180deg);
    }
  }

  &__title {
    display: flex;
    align-items: center;
    padding: 8px 10px 8px 10px;
    box-shadow: none;
    border: 1px solid #dadada;
    border-bottom-width: 2px;
    width: 100%;
    outline: transparent;
    transition: border-color 0.4s ease;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;

    &:hover {
      border-bottom-color: $red;
    }

    &:after {
      content: "";
      width: 0;
      height: 0;
      margin-left: auto;
      border-style: solid;
      border-width: 4px 4px 0 4px;
      transition: transform 0.4s ease;
      will-change: transform;
      border-color: #3b3b3b transparent transparent transparent;
    }
  }

  &__list {
    display: none;
    position: absolute;
    z-index: 100;
    top: 100%;
    width: 100%;
    background-color: #fff;
    border: 1px solid $gray;
    border-top: 0;
    padding: 12px 10px 20px;
    max-height: 150px;
    overflow-y: auto;
  }

  &__item {
    font-size: 14px;
    line-height: 20px;
    color: $dark-gray;
    margin-bottom: 12px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: $black;
    }
  }
}
