mixin base-select(extraClass,placeholder,list,name)
  - var className = extraClass !== undefined ? extraClass : "";
  .select.js-select(class=className)
    input(type="hidden" name=name).select__hidden-input.js-select-input
    .select__title.js-select-title=placeholder
    .select__list.js-select-list
      each item in list
        .select__item(data-value=item.value)=item.title