.footer {
  @include size(100%, 102px);
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  background-color: $black;

  &__text {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: $white;
  }
}
