*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
html,
body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: calc(958px + 2 * 10px);
    padding: 0 10px;
    margin: 0 auto;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.title {
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    color: #282d30;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}