.btn {
  cursor: pointer;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  width: 100%;

  &_delete {
    @include size(85px,30px);
    @include media("tablet") {
      color: $white;
      background-color: $black;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 20px;
    color: $dark-gray;
    background-color: transparent;
    border-radius: 20px;
    transition: color .7s ease, border-radius .7s ease;
    outline: transparent;
    &:hover {
      color: $white;
      background-color: $black;
    }
  }

  &_show-more {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
    font-size: 16px;
    line-height: 36px;
    font-weight: 700;
    border-radius: 4px;
    background-color: $red;
    color: $white;
    text-transform: uppercase;

    &:after {
      @include size(24px);
      content: "";
      position: relative;
      top: -1px;
      margin-left: 12px;
      background-repeat: no-repeat;
      background-image: url(icon-arrow("fff"));
      background-size: 8px 15px;
      background-position: center;
    }
  }
}